[submodule "liangxianhua/public"]
	path = liangxianhua/public
	url = https://github.com/andy90s/andy90s.github.io.git
[submodule "liangxianhua/themes/LoveIt"]
	path = liangxianhua/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
