[submodule "liangxianhua/public"]
	path = liangxianhua/public
	url = https://github.com/andy90s/andy90s.github.io.git
[submodule "liangxianhua/themes/DoIt"]
	path = liangxianhua/themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git

